/* 
    layout
            */
.inner {
    position:relative;
    margin:0 auto;
    max-width:1120px;
}
#header {
    position:fixed;
    left:0;
    top:0;
    z-index:1000;
    width:100%;
    height:110px;
    background:linear-gradient(to right,  #303950, #222b43);
    .view-type {
        height:50px;
        line-height:50px;
        text-align:right;
        background:#111;
        box-sizing:border-box;
        span.bar {
            display:inline-block;
            width:1px;
            height:16px;
            vertical-align:middle;
            background:rgba(255,255,255,.5);
        }
        select {
            position:relative;
            color:#fff;
            font-size:16px;
            border:0;
            background:#111;
            &.year-month {
                display:none;
                &.show {
                    display:inline-block;
                }
            }
        }
        .btn-all-view {
            display:inline-block;
            position:relative;
            margin-left:10px;
            padding:0 10px;
            line-height:32px;
            color:#fff;
            font-size:16px;
            background:#444;
            border:1px solid #999;
        }
    }
    .inner {
        .bi {
            float:left;
            line-height:54px;
            a {
                color:#fff;
                font-size:20px;
            }
        }
        .gnb { 
            float:left;
            margin-left:60px;
            ul {
                li {
                    float:left;
                    & + li {
                        margin-left:30px;
                    }
                    a {
                        display:block;
                        padding:0 5px;
                        height:60px;
                        line-height:60px;
                        color:#fff;
                        font-size:17px;
                        &:hover {
                            font-weight:600;
                        }
                    }
                    &.active {
                        a {
                            height:57px;
                            line-height:60px;
                            border-bottom:3px solid #fff;
                        }
                    }
                }
            }
        }
        .btn-search {
            float:right;
            width:60px;
            height:60px;
            background:url('../images/icon_search.png') no-repeat center;
            background-size:42%;
        }
    }
    .search-box {
        position:absolute;
        left:0;
        top:-110px;
        width:100%;
        height:110px;
        background:#000;
        transition:top .8s cubic-bezier(.23,1,.32,1);
        &.active {
            top:0;
            transition:top .8s cubic-bezier(.23,1,.32,1);
        }
        p {
            line-height:110px;
            color:#fff;
            font-size:24px;
            text-align:center;
        }
        .btn-close {
            display:block;
            position:absolute;
            right:0;
            top:50%;
            margin-top:-30px;
            width:40px;
            height:60px;
            box-sizing:border-box;
            &:before,
            &:after {
                display:block;
                content:"";
                position:absolute;
                left:50%;
                top:50%;
                width:26px;
                height:4px;
                background:#fff;
                transform:translateX(-50%);
                transition:all .3s cubic-bezier(.23,1,.32,1);
            }
            &:before {
                margin-top:-2px;
                transform:translateX(-50%) rotate(45deg) translateZ(0);
            }
            &:after {
                margin-top:-2px;
                transform:translateX(-50%) rotate(-45deg) translateZ(0);
            }
            &:hover {
                &:before {
                    transform:translateX(-50%) rotate(0) translateZ(0);
                }
                &:after {
                    transform:translateX(-50%) rotate(0) translateZ(0);
                }   
            }
        }
    }
}
#container {
    padding-top:110px;
    background:#f2f2f2;
    .inner {
        position:relative;
        padding:60px 0 100px;
        .group {
            & + .group {
                margin-top:50px;
            }
            &.chart01g {
                .chart0101,
                .chart0102 {
                    margin-bottom:50px;
                }
            }
            &.chart04g {
                .chart0401 {
                }
            }
            .page-title-area {
                padding-bottom:10px;
                border-bottom:2px solid #555;
                .page-title {
                    font-size:26px;
                    font-weight:600;
                }
            }
            .in-chart {
                padding:15px 10px;
                background:#fff;
                box-shadow:2px 2px 2px rgba(0, 0, 0, 0.1);
                .chart-title {
                    display:block;
                    margin:20px 0;
                    font-size:18px;
                }
            }
        }
    }
}
#footer {
    padding:30px 0;
    text-align:center;
    background:#f2f2f2;
    p,
    a {
        color:#444;
        font-size:13px;
    }
    a {
        &:hover {
            text-decoration:underline;
        }
    }
}

.trend-list {
    .category {
        ul {
            padding:30px 0;
            li {
                float:left;
                margin-right:10px;
                a {
                    display:block;
                    padding:10px 25px;
                    color:#666;
                    background:#fff;
                    border-bottom:2px solid #023ccf;
                }
                &:nth-child(2) a {
                    border-color:#233970;
                }
                &:nth-child(3) a {
                    border-color:#e37135;
                }
                &:nth-child(4) a {
                    border-color:#529443;
                }
                &.active {
                    a {
                        color:#fff;
                        background:#023ccf;
                    }
                    &:nth-child(2) a {
                        border-color:#233970;
                    }
                    &:nth-child(3) a {
                        border-color:#e37135;
                    }
                    &:nth-child(4) a {
                        border-color:#529443;
                    }
                }
            }
        }
    }
    .list {
        padding:15px 0 0;
        li {
            position:relative;
            float:left;
            margin-bottom:20px;
            width:32%;
            background:#fff;
            box-shadow:2px 2px 2px rgba(0,0,0,.1);
            &:nth-child(3n) {
                margin-left:2%;
            }
            &:nth-child(3n + 1) {
                margin-right:2%;
            }
            a {
                display:block;
                padding:30px 15px 20px;
                .subject {
                    position:relative;
                    margin-bottom:16px;
                    font-size:20px;
                    font-weight:600;
                }
                .summary {
                    display:-webkit-box;
                    position:relative;
                    padding-top:16px;
                    line-height:20px;
                    font-size:14px;
                    word-wrap:break-word; 
                    -webkit-line-clamp:5; 
                    -webkit-box-orient:vertical; 
                    overflow:hidden; 
                    text-overflow:ellipsis;
                    height:100px;
                    &:after {
                        display:block;
                        content:"";
                        position:absolute;
                        left:0;
                        top:0;
                        width:20px;
                        height:2px;
                        background:#888;
                    }
                }
                .bedge {
                    display:block;
                    position:absolute;
                    right:0;
                    top:0;
                    padding:8px 12px;
                    color:#fff;
                    font-size:11px;
                    &.type01 {
                        background:#233970;
                    }
                    &.type02 {
                        background:#e37135;
                    }
                    &.type03 {
                        background:#529443;
                    }
                }
            }
        }
    }
}

.temp-cont {
    margin-top:20px;
    padding:80px 30px;
    font-size:30px;
    text-align:center;
    background:#fff;
}

/* 
    responsive 
                */
/*
    1140px < w
                */
@media screen and (max-width: 1140px) {
    .inner {
        padding:0 20px;
    }

    #container .inner {
        padding:60px 20px 100px;
    }
}       
/*
    960px > w  
                */
@media screen and (max-width: 960px) {
    #header .inner .gnb ul li {
        & + li {
            margin-left:10px;
        }
        a {
            font-size:15px;
        }
    }
    .trend-list .list li {
        width:49%;
        &:nth-child(3n + 1) {
            margin-right:0;
        }
        &:nth-child(3n) {
            margin-left:0;
        }
        &:nth-child(2n) {
            margin-left:2%;
        }
        a {
            padding:40px 15px 20px;
        }
    }
}
/*
    820px > w 
                */
@media screen and (max-width: 820px) {
    #header .inner {
        .bi a {
            font-size:18px;
        }
        .gnb {
            margin-left:25px;
        }
        .btn-search {
            background-size:34%;
        }
    }
    #container {
        .inner {
            padding:45px 20px 60px;
        }
    }
        
}
/*
    770px > w 
                */
@media screen and (max-width: 770px) {
    .mobile {
        display:block;
    }
    #header {
        .view-type {
            .inner {
                padding:0 15px;
            }
        }
        .inner {
            padding:0 0 0 20px;
            .gnb {
                position:fixed;
                right:-100%;
                top:110px;
                margin-left:0;
                width:100%;
                background:linear-gradient(to right, #303950, #222b43);
                transition:right .8s cubic-bezier(.23,1,.32,1);
                &.active {
                    right:0;
                }
                ul {
                    li {
                        width:100%;
                        border-top:1px solid #444;
                        &.active {
                            background:#505771;
                        }
                        & + li {
                            margin-left:0;
                        }
                        &.active a {
                            border-bottom:0;
                        }
                        a {
                            padding:0 28px;
                            font-size:17px;
                        }
                    }
                }
            }
            .btn-search {
                margin-right:8px;
                width:28px;
                background-size:70%;
            }
            .btn-menu {
                position:relative;
                float:right;
                margin-right:8px;
                width:40px;
                height:60px;
                box-sizing:border-box;
                &:before,
                &:after {
                    display:block;
                    content:"";
                    position:absolute;
                    left:50%;
                    top:50%;
                    width:26px;
                    height:4px;
                    background:#fff;
                    transform:translateX(-50%);
                    transition:all .8s cubic-bezier(.23,1,.32,1);
                }
                &:before {
                    margin-top:-8px;
                }
                &:after {
                    margin-top:4px;
                }
                &.active {
                    &:before {
                        margin-top:-2px;
                        transform:translateX(-50%) rotate(45deg) translateZ(0);
                    }  
                    &:after {
                        margin-top:-2px;
                        transform:translateX(-50%) rotate(-45deg) translateZ(0);
                        
                    }   
                }
            }
        }
    }
    #container {
        .inner {
            padding:30px 20px 40px;
            .page-title-area .page-title {
                font-size:20px;
            }
        }
    }
}
/*
    720px > w 
                */
@media screen and (max-width: 720px) {
    .trend-list {
        .list {
            li {
                width:100%;
                &:nth-child(2n) {
                    margin-left:0;
                }
            }

        }
    }
}

/*
    500px > w 
                */
@media screen and (max-width:500px) {
    #header {
        .search-box {
            .btn-close {
                right:15px;
            }
        }
    }
    .trend-list {
        .category ul {
            padding:20px 0 0;
            li {
                margin-right:0;
                padding:0;
                width:50%;
                a {
                    text-align:center;
                }
            }
        }
    }
}

/*
    420px > w 
                */
@media screen and (max-width: 420px) {
    
    
}